.navbar {
  display: flex;
  background-color: var(--grad-color);
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.navbar__logo {
  width: 32px;
  height: 55px;
}
.navbar__logo img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.nav .nav__menu {
  display: flex;

  gap: 15px;
}

.nav__menu__item a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: var(--white-color);
}
.navbar__search a {
  color: var(--white-color);
}
