* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  background-color: var(--background-color);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --main--font: "Inter";
  --blue-color: #16182c;
  --white-color: #ffffff;
  --bluegray-color: #606c86;
  --background-color: #eff3ff;
  --grad-color: #16228a;
  --container-max-width: 1044px;
}

.container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}
h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}
h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
/* p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */

.services_text,
h2 {
  margin-left: 20px;
}

.customers__text p {
  margin-top: 11px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #606c86;
}
